@page "/operacionesBasicas"

<h1>Operaciones Basicas</h1>

<div>
    <h5>Primer número: </h5>
    <input @bind="@num1" />

    <h5>Segundo número: </h5>
    <input @bind="@num2" />

    <button @onclick ="Operaciones"> Calcular Valores </button>
</div>

<div>
    <p> La suma es: @suma</p>
    <p> La resta es: @resta</p>
    <p> La multiplicación es: @mult</p>
</div>

@code {
    [Parameter]
    public double num1 { get; set; }
    [Parameter]
    public double num2 { get; set; }

    double resta;
    double suma;
    double mult;

    private void Operaciones()
    {
        resta = num1 - num2;
        suma  = num1 + num2;
        mult  = num1 * num2;
    }
}
